.table tr {
   border: 1px solid black;
}

th {
    padding: 10px;
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

.row {
    border: 1px solid black;
    text-align: center;
}